*{
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
}

a{
  cursor: pointer;
}

body {
  color: #222;
  font-family: "Hanken Grotesk", sans-serif;
}

img {
  max-width: 100%;
  height: 300px
}

main {
  padding: 5em 5em 0 5em;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  gap: 2em;
}

footer {
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "Hanken Grotesk", sans-serif;
}

footer h2 {
  text-align: center;
  font-size: 1.4em;
}

@media screen and (max-width: 1030px) {
  main {
    padding: 5em 1.5em 0 1.5em;
  }
}

@media screen and (max-width: 700px) {
  main {
    padding: 5em 1em 0 1em;
  }
}